.five9-chat-button {
	background-color: #ff6600 !important;
	background: #ff6600 !important;
}

.five9-action-btn {
    border: 1px solid #1e6a91 !important;
    background-color: #ff6600 !important;
    color: #fff !important;
}

.five9-action-btn:focus:not(disabled) {
    outline: none;
    box-shadow: 0 0 6px 0 #ff6600 !important;
    background-color: #ff6600 !important;
}


.five9-action-btn:hover:not(disabled) {
    background-color: #ff6600 !important;
}

.fill-logo {
	background-color: #0F3149 !important;	
}

.ui-header {
    border-width: 0 !important;
    background-color: #0F3149 !important;
}

legend,
.ui-input-text input,
.ui-input-search input {
    color: inherit;
    text-shadow: inherit;
}

.ui-input-text input,
.ui-input-search input {
    background-color: #fff !important;
}

.ui-input-text:not(.validation-error),
textarea:not(.validation-error) {
    border: 1px solid #cccece !important;
}
.ui-input-text:hover:not(.validation-error),
textarea:hover:not(.validation-error) {
    border: 1px solid #b4c900 !important;
    outline: 0 !important;
}
.ui-btn.ui-focus,
.ui-input-text.ui-focus:not(.validation-error),
textarea:focus:not(.validation-error) {
    border: 1px solid #b4c900 !important;
    outline: 0 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #b4c900 !important;
}
